* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
  
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    font-family: sans-serif;
   

}
  
/*
  .lines {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    z-index: 1;
   
  }
*/
  
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  
  
  .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  
  .line:nth-child(1) {
    margin-left: -25%;
  }
  
  .line:nth-child(1)::after {
    animation-delay: 2s;
  }
  
  .line:nth-child(3) {
    margin-left: 25%;
  }
  
  .line:nth-child(3)::after {
    animation-delay: 2.5s;
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

  #heading{

    background: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    padding-left: 35px;
    align-self: center;
    padding-top: 50px;
    
  }

  

  .fancy {
    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  @supports ((background-clip: text) or (-webkit-background-clip: text)) {
    .fancy {
      background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
}

#password-input {
  
  color: #000;
  margin-left: 500px;
  z-index: 10;
  margin-top: 20px;
  width: 70%;
  
  
  
}

input[type="password"] {
  width: 70%;
  font-size: 19px;
  color: #000;
  border-width: 28px;
  font-family: 'Times New Roman', Times, serif;
  z-index: 10;
 
}

#quantum {
  height: 300px;
  width: 300px;
  position: fixed;
  margin-top: 100px;
  margin-left: 80px;
}

#quantumComputerTime{
  color: #ffffff;
  margin-top: 470px;
  margin-left: 50px;
  position: fixed;
  
  
}

#atari {
  height: 450px;
  width: 450px;
  position: fixed;
  margin-left: 500px;
  
  
  
}

#atariComputerTime{
  color: #ffffff;
  margin-top: 470px;
  margin-left: 585px;
  position: fixed;
  
}

#modern {
  height: 250px;
  width: 250px;
  position: fixed;
  margin-left: 1055px;
  margin-top: 130px;
}

#modernComputerTime{
  color: #ffffff;
  margin-top: 470px;
  margin-left: 1000px;
  position: fixed;
  
}

#super {
  height: 255px;
  width: 290px;
  position: fixed;
  margin-left: 1550px;
  margin-top: 130px;
}

#superComputerTime{
  color: #ffffff;
  margin-top: 470px;
  margin-left: 1500px;
  position: fixed;
  
}

  